<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:security="http://www.springframework.org/schema/security" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security-3.2.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd 
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd"
        >

	<context:component-scan base-package="com.gffny.ldrbrd.common.config,com.gffny.ldrbrd.common.dao,com.gffny.ldrbrd.common.dao.mongo,com.gffny.ldrbrd.common.service.impl" />
	<context:annotation-config />

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:application.properties" />
	</bean>

	<bean class="org.springframework.transaction.aspectj.AnnotationTransactionAspect" factory-method="aspectOf">
	    <property name="transactionManager" ref="ldrbrd_txnMgr"/>
	</bean>

	<bean id="ldrbrd_txnMgr" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="ldrbrd_emf" />
		<property name="jpaDialect" ref="ldrbrd_jpaDialect" />
	</bean>

	<bean id="ldrbrd_emf"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
 		<property name="persistenceXmlLocation" value="classpath*:META-INF/persistence.xml" />
		<property name="persistenceUnitName" value="ldrbrd_pu" />
		<property name="jpaVendorAdapter" ref="ldrbrd_jpaVendorAdapter" />
		<property name="jpaDialect" ref="ldrbrd_jpaDialect" />
 		<property name="dataSource" ref="ldrbrd_dataSource" />
	</bean>

	<bean id="ldrbrd_jpaVendorAdapter"
		class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
		<property name="database" value="MYSQL" />
		<property name="databasePlatform" value="org.hibernate.dialect.MySQL5Dialect" />
		<property name="showSql" value="true" />
	</bean>

	<bean
		class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

	<bean
		class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

	<bean id="ldrbrd_jpaDialect" class="org.springframework.orm.jpa.vendor.HibernateJpaDialect" />

	<bean id="ldrbrd_dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
<!-- 	ONE OF THESE SHOULD BE USED FOR DEVELOPMENT AND ANOTHER FOR TESTING 
		<property name="url" value="jdbc:mysql://ldrbrd-db01.crgjwijr3var.us-west-2.rds.amazonaws.com:3306/ldrbrdv2" /> 
 		<property name="url" value="jdbc:mysql://localhost:3306/ldrbrdv2" />
-->
		<property name="url" value="jdbc:mysql://ldrbrd-db01.crgjwijr3var.us-west-2.rds.amazonaws.com:3306/ldrbrdv2" /> 
		<property name="username" value="ldrbrd" />
<!--  		<property name="password" value="password" /> -->
		<property name="password" value="ldrbrdv2" />
	</bean>
</beans>