<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<security:http auto-config="true">
		<security:intercept-url pattern="/auth/*"
			access="ROLE_USER" />
		<security:intercept-url pattern="/check/*"
			access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<security:intercept-url pattern="/css/main.css"
			access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<security:intercept-url pattern="/resources/**"
			access="IS_AUTHENTICATED_ANONYMOUSLY" />
	</security:http>

	<security:authentication-manager erase-credentials="true" >
		<security:authentication-provider user-service-ref="authorisationService">
			<security:password-encoder ref="passwordEncoder" />
		</security:authentication-provider>
	</security:authentication-manager>

	<bean id="passwordEncoder" 
	    class="org.springframework.security.crypto.password.StandardPasswordEncoder">
	</bean>
</beans>